h1.page-header
	| Направления
	small
		button.btn.btn-default(type='button',data-action='create')
			span.glyphicon.glyphicon-plus-sign
			| &nbsp;
			| Новое направление

table.table.table-striped.table-hover
	thead
		tr
			th Название
			th Тренер
			th &nbsp;
	tbody

.pagination-holder

.modal-holder