h1.page-header
	| Занятия
	small
		button.btn.btn-default(type='button',data-action='create')
			span.glyphicon.glyphicon-plus-sign
			| &nbsp;
			| Новое занятие

table.table.table-striped.table-hover
	thead
		tr
			th Дата
			th Начало
			th Единоразовых
			th Абонементов
			th

	tbody

.pagination-holder

.modal-holder