td= duration
td= amount
td= price
td
	.btn-group
		button.btn.btn-default(type='button',data-action='edit')
			span.glyphicon.glyphicon-pencil
		button.btn.btn-default(type='button',data-action='remove')
			span.glyphicon.glyphicon-remove