td= title
td= don.name
td
	.btn-group.btn-group-sm
		button.btn.btn-default.btn-sm(type='button',data-action='edit',data-id=id)
			span.glyphicon.glyphicon-pencil

		button.btn.btn-danger.btn-sm(type='button',data-action='remove',data-id=id)
			span.glyphicon.glyphicon-trash