h1.page-header
	| Абонементы
	small
		button.btn.btn-default(type='button',data-action='create')
			span.glyphicon.glyphicon-plus-sign
			| &nbsp;
			| Новый абонемент

table.table.table-striped.table-hover
	thead
		tr
			th №
			th Студент
			th Заканчивается
			th Осталось
			th

	tbody

.pagination-holder

.modal-holder