td= seqNum
td #{student.firstName} #{student.lastName}
td ---
td ---
td
	.btn-group.btn-group-sm
		button.btn.btn-default.btn-sm(type='button',data-action='edit')
			span.glyphicon.glyphicon-pencil

		button.btn.btn-danger.btn-sm(type='button',data-action='remove')
			span.glyphicon.glyphicon-trash